.venv/
.pytest_cache/
backend/app/__pycache__/
backend/app/services/__pycache__/
backend/tests/__pycache__/
backend/app/graph/__pycache__/
chroma_data/
.env
backend/eval/__pycache__
backend/app/api/__pycache__
react-frontend/node_modules/
