.venv/
.pytest_cache/
backend/app/__pycache__/
backend/app/api/__pycache__/
backend\app\api\__pycache__
backend/app/services/__pycache__/
backend/tests/__pycache__/
backend/app/graph/__pycache__/
chroma_data/
.env
backend/eval/__pycache__
backend/app/api/__pycache__
react-frontend/node_modules/
.vscode/
desktop-app/node_modules/
desktop-app/dist/
desktop-app/dist-electron/
*.log
desktop-app/.DS_Store
desktop-app/.env
desktop-app/.env.local
desktop-app/.env.*.local

